/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */
* {
  box-sizing: border-box; 
	max-width: 100%;
  /* border: 1px solid red; */
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
  text-align: center;
}
h1 {
	font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

/* APP*/
.header {
  display: flex;
  justify-content: space-between;
}
.name-container {
  width: 25%;
}
.powered-by {
  width: 125px;
}
.search-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

/* HOME */
.home-icons-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
  width: 75%;
  margin: 50% auto;
}
.item1 {
  grid-column-start: 2;
}
.item2 {
  grid-column-start: 1;
}
.item3 {
  grid-column-start: 2;
  grid-row-start: 3;
}
.item4 {
  grid-column-start: 3;
}

/* SEARCH */
.form {
  width: 200px;
  position: absolute;
  z-index: 1;
  right: 35px;
  background-color: white;
  text-align: left;
}
.suggested-location {
  border: 1px solid grey;
}

/* CURRENT LOCATION */
.btn-current-location {
  width: 35px;
}

/* CURRENT WEATHER */
.city {
  margin: auto;
  background-color: white;
  border: none;
}
.current-weather-body {
  margin: auto;
}
.current-weather-img {
  width: 150px;
  margin: auto;
}

/* CONDITIONS */
.conditions-list-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.condition-card {
  flex: 0 0 auto;
  margin-right: 4%;
  width: 150px;
}
.condition-card :hover {
  cursor: pointer;
}

/* FORECAST */
.forecast-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.forecast-img {
  width: 75px;
}
.forecast-icon {
  width: 200px;
}
